<div class="main" id="info">
    <style>   
            span.note {font-size: 90%;color:blue;}
            span.red{font-size: 90%;color: red;} 
    </style>
            <link rel="stylesheet" type="text/css" href="../css/info.css"/>
    <head>
            <title> info.page</title>
    </head>
    <body>
            <br>
            <div class="container">
                <h1> Restaurant Information</h1>
            </div>
            <br>
            <div class="container">
                <h2>Hours</h2>
                    <p>Mon-Thu&nbsp;<span class="note">7:30Am-8:00Pm.</span></p>
                    <p> Fri-sun &nbsp;<span class="note">8:00Am-9:00.</span></p>
                    <p>**<span class="red">Open Now</span>**</p>
            </div>
          
            <div class="container">
                <h2>Phone</h2>
                    <p><span class="note">(618)529-8083.</span>
            </div>
        
            <div class="container">
                <h2>Good for</h2>
                    <p> Breakfast-lunch-Dinner.</p>
            </div>
        
            <div class="container">
                <h2> Wi-Fi</h2>
                    <p>Yes</p>
            </div>
        
            <div class="container">
                <h2> Take Reservation</h2>
                    <p> Yes</p>
            </div>
        
            <div class="container">
                <h2>Parking</h2>
                    <p>Private Lot</p>
            </div>
        
            <div class="container">
                <h2> Outdoor Seating</h2>
                    <p> Yes</p>
            </div>
    </body>
 
</div>