
<html>
       <style>
             span.note {
    font-size: 90%;
    color:blue;}
             span.red{font-size: 90%;color: red;}
       </style>
    
       <head>
            <title> info.page</title>
            <link rel="stylesheet" type="text/css" href="info.css"/>
       </head>
        <body>
             <br>
             <h1> Restaurant Information</h1>
             <br>
             <br>
        
            <div class="container">
            <h2>Hours</h2>
            </div>
                 <p>Mon-Thu&nbsp;<span class="note">7:30Am-8:00Pm.</span></p>
                 <p> Fri-sun &nbsp;<span class="note">8:00Am-9:00.</span></p>
                 <p>**<span class="red">OPen Now</span>**</p>
            
           <div class="container">
            <h2>Phone</h2>
            </div>
                 <p><span class="note">(618)529-8083.</span>
            
            <div class="container">
             <h2>Good for</h2>
             </div>
                  <p> Breakfast-lunch-Dinner.</p>
             <div class="container">
             <h2> Wi-Fi</h2>
             </div>
                  <p>Yes</p>
             <div class="container">
             <h2> Take Reservation</h2>
             </div>
                  <p> Yes</p>
             <div class="container">
             <h2>Parking</h2>
             </div>
                  <p>Private Lot</p>
             <div class="container">
             <h2> Outdoor Seating</h2>
             </div>
                  <p> Yes</p>
      
        </body>
</html>
 
