<div class="main" id="info">
      
            <div class="container">
                <h1 class="myh1"> Restaurant Information</h1>
            </div>
            <br>
    
            <div class="container">
                <h2 class="myh2">Hours</h2>
                <p>Mon-Thu&nbsp;<a class="note">7:30Am-8:00Pm.</a></p>
                <p> Fri-sun &nbsp;<a class="note">8:00Am-9:00.</a></p>
                <p>**<a class="red">Open Now</a>**</p>
            </div>
          
            <div class="container">
                <h2 class="myh2">Phone</h2>
                <p><a class="note">(618)529-8083.</a>
            </div>
        
            <div class="container">
                <h2 class="myh2">Good for</h2>
                <p> Breakfast-lunch-Dinner.</p>
            </div>
        
            <div class="container">
                <h2 class="myh2"> Wi-Fi</h2>
                <p>Yes</p>
            </div>
        
            <div class="container">
                <h2 class="myh2">Take Reservation</h2>
                <p> Yes</p>
            </div>
        
            <div class="container">
                <h2 class="myh2">Parking</h2>
                <p>Private Lot</p>
            </div>
        
            <div  class="container">
                <h2 class="myh2"> Outdoor Seating</h2>
                <p> Yes</p>
            </div>
    
</div>