<div>

  <div class="mainMenuDiv" id="menu">
    <a href="index.html#/menu">
      <center>
        <div class="HomePageItems">
          <h1 class="mainMenuDiv">Menu</h1>
        </div>
      </center>
    </a>
  </div>
  
  <div class="mainMenuDiv" id="info">
    <a href="index.html#/info">
      <center>
        <div class="HomePageItems">
          <h1 class="mainMenuDiv">Store Info</h1>
        </div>
      </center>
    </a>
  </div>
    
  <div class="mainMenuDiv" id="social_media">
    <center>
	    <h1 class="mainMenuDiv">Social Media</h1>
    </center>
  </div>

  <div class="mainMenuDiv" id="nutritional_info">
    <center>
	    <h1 class="mainMenuDiv">Nutrition Info</h1>
    </center>
  </div>

  <div class="mainMenuDiv" id="games">
    <center>			
	    <h1 class="mainMenuDiv">Games</h1>
    </center>
  </div>

</div>
