<div class="main" id="menu">
    <div class="container"><h2>{{ restaurant_name }}</h2></div>
    <div class="container" ng-repeat="item in menu">
      <!--  this directive injects
              {{ menuItem.blahblah1 }}
              {{ menuItem.blahblah2 }}
              
              {{ menuItem.blahblah1 }}
              {{ menuItem.blahblah2 }}
            not the desired
              {{ move.blahblah1 }}
              {{ move.blahblah2 }}
              
              {{ shutterbugg.blahblah1 }}
              {{ shutterbugg.blahblah2 }}
           
      <menuInfo item="menuItem"></menuInfo>
      -->
      <dishavailable item="item"></dishavailable>
<!--      <div>
        <img class="icon" style="float:left" ng-src="{{ item.image }}"/> 
        <h3 class="title" style="float:left" >{{ item.dish }}</h3> 
        <p class="developer" style="float:left" >{{ item.discription }}</p> 
        <p class="price" style="float:left" >{{ item.price | currency }}</p>
      </div>-->
    </div>
</div>
