<img class="icon" ng-src="{{ item.image }}"/>

<style>
table{
	padding: 15px;
	width: 100%;
}
td{
	padding-left: 15px;
	border: 1px solid black;
}
</style>

<table>
	<tr>
	<td width=66%>
		<h3 class="menuItemTitle">{{ item.dish }}</h3>
		<p class="menuItemDescription">{{ item.discription }}</p> 
		<p class="menuItemPrice">{{ item.price | currency }}</p>
		<br>
		<br>
	</td>
	<td width=34%>
		<p>{{ item.calories }}</p>
		<p>{{ item.fat }}</p>
		<p>{{ item.sugar }}</p>
		<p>{{ item.sodium }}</p>
		<p>{{ item.protein }}</p>
	</td>
	</tr>
</table>
