<img class="icon" ng-src="{{ item.image }}"/>
<style>
table{
	padding: 15px;
	width: 100%;
	margin-bottom: 20px;
}
td{
	padding-left: 15px;
	border: 1px solid black;
}
</style>

<table>
	<tr>
		<td width=34% rowspan="2">
			<center>
			<img src="img/{{ item.id }}.jpg" height="150" width="175">
			</center>
		</td>
		<td width=33%>
			<h3 class="menuItemTitle">{{ item.dish }}</h3>
			<p class="menuItemDescription">{{ item.description }}</p> 
			<p class="menuItemPrice">{{ item.price | isoCurrency : item.currency : 2}}</p>
		</td>
		<td width=33% rowspan="2">
			<p>Calories: {{item.calories }}</p>
			<p>Fat: {{item.fat }}</p>
			<p>Sugar: {{item.sugar }}</p>
			<p>Sodium: {{item.sodium }}</p>
			<p>Protein: {{item.protein }}</p>
		</td>
	</tr>
	<tr>
		<td>
			<p>Dish Rating: {{item.stars}}</p>
		</td>
		
	</tr>
</table>
