<div class="main" ng-controller="MenuController" id="menu">
    <div class="container"><h2>{{ restaurant_name }}</h2></div>
    <div class="container" ng-repeat="menuItem in menu">
      <!--  this directive injects
              {{ menuItem.blahblah1 }}
              {{ menuItem.blahblah2 }}
              
              {{ menuItem.blahblah1 }}
              {{ menuItem.blahblah2 }}
            not the desirder
              {{ move.blahblah1 }}
              {{ move.blahblah2 }}
              
              {{ shutterbugg.blahblah1 }}
              {{ shutterbugg.blahblah2 }}
            
      <menuInfo item="menuItem"></menuInfo>
      -->
      <img class="icon" ng-src="{{ menuItem.image }}"> 
      <h3 class="title">{{ menuItem.dish }}</h3> 
      <p class="developer">{{ menuItem.discription }}</p> 
      <p class="price">{{ menuItem.price | currency }}</p>
    </div>
</div>
