<div>

  <div class="mainMenuDiv" id="menu">
    <a href="index.html#/menu">
      <center>
        <div class="HomePageItems">
          <h1>Menu</h1>
        </div>
      </center>
    </a>
  </div>
  
  <div class="mainMenuDiv" id="info">
    <a href="index.html#/info">
      <center>
        <div class="HomePageItems">
          <h1>Store Info</h1>
        </div>
      </center>
    </a>
  </div>
    
  <div class="mainMenuDiv" id="social_media">
    <center>
	    <h2>Social Media</h2>
    </center>
  </div>

  <div class="mainMenuDiv" id="nutritional_info">
    <center>
	    <h2>Nutrition Info</h2>
    </center>
  </div>

  <div class="mainMenuDiv" id="games">
    <center>			
	    <h1>Games</h1>
    </center>
  </div>

</div>
