<div>

  <div class="mainMenuDiv" id="menu">
    <a href="index.html#/menu">
      <center>
        <div class="HomePageItems">
          <h1 class="sizeAdjust">Menu</h1>
        </div>
      </center>
    </a>
  </div>
  
  <div class="mainMenuDiv" id="info">
    <a href="index.html#/info">
      <center>
        <div class="HomePageItems">
          <h1 class="sizeAdjust">Store Info</h1>
        </div>
      </center>
    </a>
  </div>
    
  <div class="mainMenuDiv" id="social_media">
    <center>
	    <h1 class="sizeAdjust">Social Media</h1>
    </center>
  </div>

  <div class="mainMenuDiv" id="recommendation">
    <a href="index.html#/recommendation">
      <center>
        <div class="HomePageItems">
          <h1 class="sizeAdjust">Recommendation</h1>
        </div>
      </center>
    </a>
  </div>

  <div class="mainMenuDiv" id="games">
    <center>			
	    <h1 class="sizeAdjust">Games</h1>
    </center>
  </div>

</div>
