<div class="main" id="recommendation">
    
    <h1>Recommendation</h1>
    <br> 
    <h2> This page will help you to find the best dish we have depanding on waht you like.
    </h2>
    
        <ul>
            <li>
                <h3>If you a big fan of spicyfood we recomend you to try
                </h3>
                <p>*Chili Dish *</p>
                <p>In our resturent you will find the best bowl of           chili you've ever had.
                </p>
                <p>
                <img src="img/chili.jpg" alt="Chili-beans" height="80" width="80">
                </p>
            </li>
           
            <li>
                <h3>For the people who love sea food we have many delishes     ricpes ,one of the famuse is
                </h3>
                <p>*Grilled Salmon*</p>
                <p>A simple soy sauce and brown sugar marinade, with hints of lemon and garlic, are the perfect salty-sweet complement to rich salmon fillets
                </p>
                <p>
                    <img src="img/Salmon.jpg" alt="grilled-salmon" height="80" width="80">
                </p>
            </li>  
            <li>
                <h3>vegetarian people do not worry, you will find all delicious veggie dishes waiting for you.We strongly recommend you to try
                </h3>
                <p>*Eggplant at Chinese Noodle House*</p>
                <p>The deep fried eggplant is tossed in a garlicky, savory, and sweet sauce. It tastes so good</p>
                <p>
                    <img src="img/Eggplant.jpg" alt="eggplant-plant" 
                         height="80" width="80">
                </p>
            </li>
        </ul>
    
 </div>