.note{
    color: deepskyblue;
}
.red{
    color: red;
    text-indent: 40px;
}

.myh1 {
    color: light black;
    text-align: center;
}

.myh2 {
    margin-left: 25px;
    text-align: left;
    font-size: 25px;
}

.myp {
    text-indent: 40px;
    color: light black;
}
