#info
{
	background-color: #9257af;
}    

.note{
    color:deepskyblue;
}
.red{color: red;}

.myh1 {
    color:black;
    text-align: center;
    font-size:30px; 
}

.myh2 {
   margin-left:25px;
     text-align: left;
    font-size: 25px;
}

.myp {text-indent: 40px;
    color: ligth black;
}