html, body
{
	height: 100%;
	padding: 0;
	margin: 0;
}

.mainMenuDiv
{
	width: 100%; 
	height: 25%; 
	float: left;
}


.HomePageItems
{
	color: #000000;
	background-color: none;
}
.sizeAdjust
{
	font-size: 550%;
}

#menu
{
	background-color: #21a025;
}

#info
{
	background-color: #9257af;
}

#social_media
{
	background-color: #87cefa;
}

#recommendation
{
	background-color: #f2b843;
}

#games
{
	background-color: #fffdb7;
}
