# Recommendion

.note{
    color:deepskyblue;
}
.red{color: red;}

.recommendh1 {
    color:black;
    text-align: center;
    font-size:30px; 
}

.recommendh2 {
   margin-left:25px;
     text-align: left;
    font-size: 25px;
}

.recommendp {
    text-indent: 40px;
    color: ligth black;
}
